@import url(http://fonts.googleapis.com/css?family=Merriweather);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
	background-color: #bdc3c7;
	font-family: "Merriweather", serif;
	padding: 20px;
}

#container {	
	width: 500px;
	margin: 20px auto;	
	text-align:center;
}

p{
	text-align: left;
}
#content h1{
	font-size: 48px;
	margin: 10px 0;
	font-family: "Open Sans", sans-serif;
}

h2{
	font-size: 24px;
	font-family: "Open Sans", sans-serif;
	margin: 10px 0;
}

a{
	text-decoration: none;
	color: #3498db;
	transition: 1s all ease;
}

a:hover{
	color:#16a085;
	text-decoration: underline;
}

.name_level{
	font-size: 16px;
}
.description{
	font-size: 12px;
}

#content{
	border:2px solid #7f8c8d;
	padding: 20px;
	margin-top: -30px;
	background-color: white;
	border-radius: 5px
}

#container img{
	border: 5px solid #ffffff;
}